*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-com-pincelada-bege_53876-129531.jpg?w=1060&t=st=1693424351~exp=1693424951~hmac=9abf692050b7eaedb27cc4bc418da08b8977fa6803a938bccf9cfb6fdc6d577e");
    background-repeat: no-repeat;
    background-size: cover;

}